@CHARSET "ISO-8859-1";


body{
	font-family: sans serif;
	color: #2E2E2E;
	background-color: #fff; 
}

h2, h3{
	color : #f00;
}

#contentPane{
	position: absolute;
	width: 800px;
	min-height: 100%;	
	top: 0px;
	left: 50%;	
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -330px;
	/** border-right: dashed 1px #585858; **/
}


#left{
	position : fixed;
	top: 0px;
	left: 50%;
	margin-left: -500px;
	width: 170px;
	height: 100%;
	border-right: dashed 1px #585858;
}
#logo{
	float: left;
	height: 140px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 18px;
}
.caps{
	font-size: 26px;
	color: #f00;
}


#menuTable{
	float: left;
	width: 165px;
	border-top: dashed 1px #585858;
}
#menuCell{
	text-indent: 15px;
	border-bottom: dashed 1px #585858;
}
#menuTable h2{
	margin: 7px;
}
#menuTable a{
	color: #f00;
	text-decoration: none;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: normal;
}
#menuTable a.active{
	font-weight: bold;	
	font-style: italic;
}
#menuTable a:hover{
	font-style: italic;
}





#top{
	float: left;
	margin-top:20px;
	height: 150px;	
	width: 800px;
	border-bottom: dashed 1px #585858;
	text-indent: 15px;
}
#top h2{
	font-size: 30px;
	margin-bottom: 10px;
}
#top a{
	color: #2E2E2E;
	text-decoration: none;
}
#main{
	float: left;
	width: 800px;
	margin-top: 20px;
	margin-bottom : 80px;
}
#main a{
	text-decoration: none;
}
#main h3{
	margin-top: 30px;
	text-align: center;
}
#main h3 a{
	color: #f00;
}
#main h4{
	font-style: italic;
	text-indent: 20px;
}
#main p,dl,ul{
	font-size: 15px;
}

#bottom{
	position: absolute;
	width: 100%;
	bottom: 30px;
}